.textNumberContainer{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

.textNumberContainer::after {
  content: "";
  position: absolute;
  bottom: 0;    
  left: 5%;           
  width: 90%;             
  height: 1px;            
  background-color: #8a8484;  
}

.num{
    align-self: flex-end;
}

.container{
    background-color: #1D1C1B;
    
}

.cardsContainer{
    margin-top: 50px;
}

.textNumberContainer2{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    background-color: #e9e9e9;
}

.textNumberContainer2::after {
  content: "";
  position: absolute;
  bottom: 2.0px;    
  left: 5%;           
  width: 90%;             
  height: 1.01px;            
  background-color: #1D1C1B;  
}

.text{
    font-size: 3.5rem;

    line-height: 1;
}

