.container{
    overflow: visible;
    margin: auto;
    width: 90vw;
}

.btn{
    float: left;
    position: relative;
    z-index: 30;
    margin: 100px 50px 10px 30px;
}

.text{
    margin-top: -40px;
    position: relative;
    z-index: 20;
}



