.header{
    margin: 28px 70px;
    display: flex;
    justify-content: space-between;
}

.hero{
    display: flex;
    flex-direction: column;

    height: 60vh;
    justify-content: space-between;

    width: 100vw;
}

.heroText{
    font-size: 4.5rem;
    font-weight: 400;

    margin-left: 70px;

}

.textt{
    font-size: 4.5rem;
    font-weight: 400;
    margin-left: 70px;
}

.container{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 100px;
    gap: 120px;
    /* height: fit-content; */
    /* align-items: flex-start; */
}

.orbit{
    margin-top: -70px;
    
}