
.container{
    height: 100vh;
    width: 100vw;
    background-color: #1E1C1B;
}
.listWrapper {
  padding-left: 1.5rem; /* Optional: align bullet visually */
  margin: 0;
}

.list {
  color: #838281;
  font-size: 2.2rem;

  margin-bottom: 30px;
  margin-top: 70px;

  list-style-type: disc;
  line-height: 1.2;
}

.text{
    font-size: 3.0rem;

    line-height: 1;
}

.textContainer{
    color: #f5f5f5;
    display: flex;
    flex-direction: column;

    width: 52%;
}

.textNumberContainer{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    height: 76vh;
    align-items: stretch;
    /* border: 1px solid white; */
    position: relative;
}

.textNumberContainer::after {
  content: "";
  position: absolute;
  bottom: 0;    
  left: 5%;           
  width: 90%;             
  height: 1px;            
  background-color: #8a8484;  
}

.num{
    align-self: flex-end;
}

.cardsContainer{
  /* height: 300vh; */
  width: 100vw;

  background-color: #1E1C1B;

  display: flex;

  justify-content: flex-start;
  align-content: flex-start;

  flex-wrap: wrap;
  gap: 150px 50px;

  padding: 100px 0;

  padding-left: calc((100vw - (2 * 630px) - 50px) / 2);
}

