.card {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  background: #000;
  cursor: pointer;
}
.coverImage,
.coverVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.coverImage { transition: opacity 300ms ease-in-out; }
.coverVideo { opacity: 0; transition: opacity 300ms; }
.card:hover .coverVideo { opacity: 1; }
.card:hover{
    border-radius: 10000px;
}