#section::after {
  content: "";
  position: absolute;
  bottom: 0;    
  left: 0;           
  width: 101%;             
  height: 1px;            
  background-color: black;  
}

li{
  color: #838281;
  font-size: 2rem;

  /* margin-bottom: 30px; */
  margin-top: 40px;
  margin-right: 160px;

  list-style-type: disc;
  line-height: 1.2;
}

li span{
    position: relative;
    left: -20px;
}