.container {
  height: 1000px;
  background-color: rgb(233, 68, 39);
  margin: auto;
  margin-top: 170px;
  /* margin-bottom: 1000px; */

}

.inner{
  width: 90%;
  height: 100vh;

  margin: auto;

  border-radius: 40px;

  background-color: antiquewhite;

  position: sticky;
  top: 0;
  z-index: 0;
}
